* {
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.mb-32 {
    margin-bottom: 32px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mt-20 {
    margin-top: 20px;
}

.step1 {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.logo {
    display: flex;
}
header .logo img {
    width: 32px;
    height: 32px;
    padding-top: 3px;
}

header h2 {
    color: #FF1F3D;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    padding-left: 10px;
}
header h2 span {
    color: #252525;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}

header button {
    padding: 10px 20px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.20);
    color: #252525;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border: none;
}
header button:hover {
    background: #FF1F3D;
    color: #ffffff;
    cursor: pointer;
}

hr {
    margin-bottom: 32px;
    height: 1px;
    color: rgba(23, 23, 23, 0.20);
    background-color: rgba(23, 23, 23, 0.20);
}

.step2 {
    justify-content: center;
    gap: 23.5px;
}
.step2 .btn {
    display: inline-flex;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.15);
    color: rgba(37, 37, 37, 0.70);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.step2 .btn:hover {
    background: #FF1F3D;
    color: #FFF;
    cursor: pointer;
}
.baner-cod {
    position: relative;
}
.time-text {
    position: absolute;
    bottom: 141px;
    left: 213px;
    display: inline-flex;
    padding: 4px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #171717;
}
.ttc {
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}
.id-logo-padding {
    padding-right: 12px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.caption1 {
    color: #171717;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
#Awlad {
    color: rgba(23, 23, 23, 0.70);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.step3 {
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
@media (max-width: 1336px) {
    .step3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 670px) {
    .container {
        max-width: 458px;
        margin-left: auto;
        margin-right: auto;
    }
    header button,
    #Awlad,
    .step2 .btn,
    .ttc {
        font-size: 8px;
    }
    .caption1 {
        line-height: 16px;
        font-size: 12px;
    }
    #Awlad {
        font-size: 10px;
    }
    .step1 {
        margin-top: 25px;
    }
    .step2 {
        gap: 16px;
    }
    header .logo img {
        width: 28px;
        height: 28px;
        padding-top: 1px;
    }
    header h2,
    header h2 span {
        font-size: 28px;
    }
}